<footer class="footer sm:footer-horizontal bg-base-300 text-base-content p-10">
  <nav>
    <h6 class="footer-title">AATI</h6>
    <p>Análisis de argumentos de textos infantiles</p>
  </nav>
  <nav>
    <h6 class="footer-title">Participantes</h6>
    <a href="https://www.tic.unam.mx/" class="link link-hover">Dirección General de Cómputo y de Tecnologías de Información y Comunicación</a>
    <a href="https://www.iimas.unam.mx/" class="link link-hover">Instituto de Investigaciones en Matemáticas Aplicadas y en Sistemas</a>
    <a href="https://alianza.unam.mx/" class="link link-hover">Alianza UNAM</a>
  </nav>
  <nav>
    <h6 class="footer-title">Avisos de privacidad</h6>
    <a href="{{url_for('page',view='aviso_privacidad_integral')}}" class="link link-hover">Aviso privacidad integral</a>
    <a href="{{url_for('page',view='aviso_privacidad_simplificado')}}" class="link link-hover">Aviso privacidad simplificado</a>
  </nav>
  <nav>
    <h6 class="footer-title">Contacto</h6>
    <a href="mailto:ivanvladimir+aait@gmail.com" class="link link-hover">ivanvladimir+aati@gmail.com</a>
  </nav>
</footer>
