{% extends 'base.html' %}

{% block title %}{{metadata.title[0] | string }}{% endblock %}


{% if notlogged_content %}
{% block notlogged_content %}
<article class="prose max-w-none">
    {{notlogged_content | safe}}
</article>
{% endblock %}
{%endif%}

{% block protected_htmx_config %}
hx-post="{{ url_for('project_links_htmx') }}"
hx-trigger="load-protected"
hx-swap="innerHTML"
hx-target="this"
hx-indicator="#protected-loading"
{% endblock %}

{% block protected_content %}
{% endblock %}

{% block scripts %}
{% endblock %}
