<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Chatbot pyAIML" content="Test">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>

  </head>
  <body>
	<section class="section">
    <div class="container">

	<h1  class="title">Chatvoice<h1>
 

	<center>
	<a href="/state" class="button is-link">Execute</a>
	</center>

	</div>
</section>


</body>
</html>



<footer class="footer">
  <div class="container">
    <div class="content has-text-right">
      <p>
			<p>Copyright Ivan Meza, 2018</p>
      </p>
    </div>
  </div>
</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>

